/*
 * Global styles
 */

.main {
  background-color: #fafafa;
  height: 100%;
  width: 100%;
  position: absolute;
}

.content {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-top: 36px;
}

.hideable-group-title strong {
    display: none;
}
