<h1>Greetings, {{ name }}!</h1>

<p>
    An account has been created for you at <a href="https://boilerplate.com">Boilerplate</a> - you can login <a href="https://boilerplate.com/login">here</a>.
</p>

<pre>
    <font size="4">
    Username: {{ email }}
    Password: {{ pw }}
    </font>
</pre>

<!-- <p>
    And to confirm, your name and phone number are:
</p>

<pre>
    <font size="4">
    Name:  {{ name }}
    Phone: {{ phone }}
    </font>
</pre> -->

{% include 'email/footer.html' %}
