<h1>Lose your keys, {{ name }}?</h1>

<p>
    We reset your password at <a href="https://boilerplate.com">Boilerplate</a> - you can login <a href="https://boilerplate.com/login">here</a>.
</p>

<pre>
    <font size="4">
    Username: {{ email }}
    Password: {{ pw }}
    </font>
</pre>

{% include 'email/footer.html' %}
