<h1>Salutations, {{ session.name }}! (we hope)</h1>

<p>
    We're trying to make sure this is your email over at <a href="https://boilerplate.com">Boilerplate</a>... if you have no idea what this is about, don't worry about it.
</p>

<pre>
    <font size="4">
    Verification code: {{ code }}
    </font>
</pre>

{% include 'email/footer.html' %}
